# Local development
DATABASE_URL=postgresql://faisal@localhost:5432/neo_quant
ALPACA_KEY=PKHHT2T6YURRIJW2BCBBPCRVIL
ALPACA_SECRET=4u3H3dDTwfcpepFNCyucAcnZYiBAxnnMS4sU45o5tvKD
ALPACA_BASE_URL=https://paper-api.alpaca.markets/v2
POLYGON_API_KEY=ncHtp6nHk2jvaQMjYFKK9EnogU8xdaWV
PRISM_DATA_DIR=/Users/faisal/.openclaw/workspace/neo_quant/data
